
.imagemFeed {
    width: 350px;
    height: 350px;
}
.photo {
    display: grid;
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;
}
.photo img{
    grid-area: 1/1;
}
.photo .visualizacao{
    grid-area: 1/1;
    background: rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    grid-area: 1/1;
    display: none;

}

.photo:hover .visualizacao {
    display: flex;


}

.visualizacao::before {
    content: '';
    width: 22px;
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    background: url('../img/eyewhite.svg');
    
}