.photo {
    margin: auto;
    height: 90vh;
    border-radius: 2rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) -3px 2px 6px 1px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    gap: 1rem;

}
.photo ul {
    padding: 0;
}
.titulo {
    margin: 0;
    padding: 0;
    font-size: 45px;
    color: #1d1d1d;

}
.atributtes {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

}
.myli:nth-child(1){
    border-left: 3px solid #F3BF38;
    padding-left: 6px;

}
.buttonDel{
    background: #d4d4d4;

}
.buttonDel:hover{
    background: #D33030;

}
.myli{
    border-left: 3px solid #D33030;
    padding-left: 6px;

}
.details {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    gap: 1.5rem;
    width: 450px;

    flex-direction: column;
}

.img {
    grid-row: 1/4;
}

.comments {
    padding: 0 2rem;
}
.align {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.vis::before {
    content: '';
    width: 22px;
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    background: url('../../img/eye.svg');
}
.img img {
    width: 1000px;
    height: 1000px;
}

@media (max-width: 700px) {
    .photo {
        height: auto;
        max-height: calc(100vh - 4rem);
        overflow-y: auto;
        grid-template-columns:    minmax(20rem, 40rem);
   
    }
    .img img {
        width: 500px;
        height: 500px;
    }
    .details {
        padding-top: 2rem;
    }
    .align {
        width: 70%;
    }
}